USE [master]
GO
/****** Object:  Database [BarraByTech]    Script Date: 02/12/2025 15:21:24 ******/
CREATE DATABASE [BarraByTech]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BarraByTech', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\BarraByTech.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BarraByTech_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\BarraByTech_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BarraByTech].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BarraByTech]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 02/12/2025 15:21:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 02/12/2025 15:21:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 02/12/2025 15:21:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 02/12/2025 15:21:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 02/12/2025 15:21:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 02/12/2025 15:21:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](450) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 02/12/2025 15:21:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](450) NOT NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 02/12/2025 15:21:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserTokens](
	[UserId] [nvarchar](450) NOT NULL,
	[LoginProvider] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](128) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categorias]    Script Date: 02/12/2025 15:21:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categorias](
	[CategoriaId] [uniqueidentifier] NOT NULL,
	[CategoriaNome] [nvarchar](80) NOT NULL,
	[CategoriaDescricao] [nvarchar](150) NOT NULL,
 CONSTRAINT [PK_Categorias] PRIMARY KEY CLUSTERED 
(
	[CategoriaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 02/12/2025 15:21:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[UserId] [uniqueidentifier] NOT NULL,
	[Nome] [nvarchar](100) NOT NULL,
	[Cidade] [nvarchar](100) NOT NULL,
	[Telefone] [nvarchar](max) NOT NULL,
	[Nascimento] [datetime2](7) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[Cpf] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Clientes] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Compras]    Script Date: 02/12/2025 15:21:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Compras](
	[ComprasId] [uniqueidentifier] NOT NULL,
	[PedidoId] [uniqueidentifier] NOT NULL,
	[Metodo] [int] NOT NULL,
	[ValorPago] [decimal](18, 2) NOT NULL,
	[DataPagamento] [datetime2](7) NOT NULL,
	[Status] [int] NOT NULL,
	[EnderecoId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Compras] PRIMARY KEY CLUSTERED 
(
	[ComprasId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EnderecosCliente]    Script Date: 02/12/2025 15:21:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EnderecosCliente](
	[EnderecoId] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[Endereco] [nvarchar](200) NOT NULL,
	[Cidade] [nvarchar](100) NOT NULL,
	[Estado] [nvarchar](50) NOT NULL,
	[Cep] [int] NOT NULL,
	[Complemento] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_EnderecosCliente] PRIMARY KEY CLUSTERED 
(
	[EnderecoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ItemCarrinho]    Script Date: 02/12/2025 15:21:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemCarrinho](
	[ItemCarrinhoId] [uniqueidentifier] NOT NULL,
	[UsuarioId] [uniqueidentifier] NOT NULL,
	[ProdutoId] [uniqueidentifier] NOT NULL,
	[Quantidade] [int] NOT NULL,
 CONSTRAINT [PK_ItemCarrinho] PRIMARY KEY CLUSTERED 
(
	[ItemCarrinhoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ItemFavoritados]    Script Date: 02/12/2025 15:21:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemFavoritados](
	[ItemFavoritadoId] [uniqueidentifier] NOT NULL,
	[ProdutoId] [uniqueidentifier] NOT NULL,
	[ClienteId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_ItemFavoritados] PRIMARY KEY CLUSTERED 
(
	[ItemFavoritadoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ItensFavoritos]    Script Date: 02/12/2025 15:21:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItensFavoritos](
	[ItemFavoritoId] [uniqueidentifier] NOT NULL,
	[UsuarioId] [uniqueidentifier] NOT NULL,
	[ProdutoId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_ItensFavoritos] PRIMARY KEY CLUSTERED 
(
	[ItemFavoritoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ItensPedidos]    Script Date: 02/12/2025 15:21:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItensPedidos](
	[ItemPedidoId] [uniqueidentifier] NOT NULL,
	[PedidoId] [uniqueidentifier] NOT NULL,
	[ProdutoId] [uniqueidentifier] NOT NULL,
	[Quantidade] [int] NOT NULL,
 CONSTRAINT [PK_ItensPedidos] PRIMARY KEY CLUSTERED 
(
	[ItemPedidoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Marcas]    Script Date: 02/12/2025 15:21:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Marcas](
	[MarcaId] [uniqueidentifier] NOT NULL,
	[Nome] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Marcas] PRIMARY KEY CLUSTERED 
(
	[MarcaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pedidos]    Script Date: 02/12/2025 15:21:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pedidos](
	[PedidoId] [uniqueidentifier] NOT NULL,
	[Data] [datetime2](7) NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Pedidos] PRIMARY KEY CLUSTERED 
(
	[PedidoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Produtos]    Script Date: 02/12/2025 15:21:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Produtos](
	[ProdutoId] [uniqueidentifier] NOT NULL,
	[Nome] [nvarchar](100) NOT NULL,
	[Descricao] [nvarchar](500) NOT NULL,
	[CategoriaId] [uniqueidentifier] NOT NULL,
	[EstoqueMin] [int] NOT NULL,
	[EstoqueAtual] [int] NOT NULL,
	[DataCriacao] [datetime2](7) NOT NULL,
	[DataAlteracao] [datetime2](7) NULL,
	[MarcaId] [uniqueidentifier] NOT NULL,
	[Boleto] [decimal](18, 2) NOT NULL,
	[Cartao] [decimal](18, 2) NOT NULL,
	[Promocao] [decimal](18, 2) NOT NULL,
	[Vista] [decimal](18, 2) NOT NULL,
	[TipoMarcaId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Produtos] PRIMARY KEY CLUSTERED 
(
	[ProdutoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TiposMarcas]    Script Date: 02/12/2025 15:21:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TiposMarcas](
	[TipoMarcaId] [uniqueidentifier] NOT NULL,
	[MarcaId] [uniqueidentifier] NOT NULL,
	[Nome] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_TiposMarcas] PRIMARY KEY CLUSTERED 
(
	[TipoMarcaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'00000000000000_CreateIdentitySchema', N'8.0.14')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20251117004728_Initial', N'9.0.11')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20251117005748_ModTelefone', N'9.0.11')
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'f4f7f86f-bb8a-484a-9b53-7a5915ea284c', N'Admin', N'ADMIN', NULL)
GO
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'0243c174-80b1-445c-8ba5-de3dd06be7ea', N'f4f7f86f-bb8a-484a-9b53-7a5915ea284c')
GO
INSERT [dbo].[Categorias] ([CategoriaId], [CategoriaNome], [CategoriaDescricao]) VALUES (N'd52c6943-f851-4973-2b72-08de2bb80e5b', N'Placas de Vídeo', N'Categoria para GPUs')
INSERT [dbo].[Categorias] ([CategoriaId], [CategoriaNome], [CategoriaDescricao]) VALUES (N'ed8a4d17-8e2f-45a3-a730-08de2bbf5772', N'Placas Mãe', N'Categoria para Placa mães')
INSERT [dbo].[Categorias] ([CategoriaId], [CategoriaNome], [CategoriaDescricao]) VALUES (N'0e44cfee-85e6-41f5-157f-08de2c864daf', N'Processadores', N'Categoria para CPUs')
GO
INSERT [dbo].[Clientes] ([UserId], [Nome], [Cidade], [Telefone], [Nascimento], [Email], [Cpf]) VALUES (N'4cc6dd6f-78e6-45e0-89ae-c500918e3651', N'Enzo Momesso losi gomes gutierres', N'Barra Bonita - SP', N'(14)997418610', CAST(N'2007-09-21T00:00:00.0000000' AS DateTime2), N'enzomlosigg@gmail.com', N'53696418897')
GO
INSERT [dbo].[Compras] ([ComprasId], [PedidoId], [Metodo], [ValorPago], [DataPagamento], [Status], [EnderecoId]) VALUES (N'c7938144-e03b-49b9-833b-353ca6644cd6', N'fa2f4616-8391-4a94-8660-c56c13750107', 2, CAST(39594.00 AS Decimal(18, 2)), CAST(N'2025-12-01T19:43:01.7122502' AS DateTime2), 1, N'00000000-0000-0000-0000-000000000000')
INSERT [dbo].[Compras] ([ComprasId], [PedidoId], [Metodo], [ValorPago], [DataPagamento], [Status], [EnderecoId]) VALUES (N'9a66c6f5-d005-40e7-889c-4421efe98c7b', N'979c7aee-a968-4e14-947f-e6c12f55c9e1', 1, CAST(5998.00 AS Decimal(18, 2)), CAST(N'2025-12-01T19:57:33.8883365' AS DateTime2), 1, N'00000000-0000-0000-0000-000000000000')
INSERT [dbo].[Compras] ([ComprasId], [PedidoId], [Metodo], [ValorPago], [DataPagamento], [Status], [EnderecoId]) VALUES (N'9da75f6e-f902-4ed7-8a6f-4be9f863422c', N'7f6dcddf-0a57-4af4-a95c-5cbbfb60998f', 1, CAST(5655.00 AS Decimal(18, 2)), CAST(N'2025-12-02T00:38:21.6613205' AS DateTime2), 1, N'0bc6766e-c00f-4975-9dc6-24562ec6a8b3')
GO
INSERT [dbo].[EnderecosCliente] ([EnderecoId], [UserId], [Endereco], [Cidade], [Estado], [Cep], [Complemento]) VALUES (N'0bc6766e-c00f-4975-9dc6-24562ec6a8b3', N'4cc6dd6f-78e6-45e0-89ae-c500918e3651', N'Avenida Narcisa Chesini Ometto', N'Barra Bonita', N'SP', 17342076, N'Casa em frente ao posto de gasolina')
INSERT [dbo].[EnderecosCliente] ([EnderecoId], [UserId], [Endereco], [Cidade], [Estado], [Cep], [Complemento]) VALUES (N'8ebca12c-2572-4110-9a0e-96379f03fa5a', N'4cc6dd6f-78e6-45e0-89ae-c500918e3651', N'Rua Francisco Cherubim', N'Mineiros do Tietê', N'SP', 17322022, N'Casa')
GO
INSERT [dbo].[ItemCarrinho] ([ItemCarrinhoId], [UsuarioId], [ProdutoId], [Quantidade]) VALUES (N'4ce1a975-0976-49f9-90af-199d22088a7a', N'4cc6dd6f-78e6-45e0-89ae-c500918e3651', N'0ecb6c80-12e8-4889-867d-28a158c3ffcc', 1)
INSERT [dbo].[ItemCarrinho] ([ItemCarrinhoId], [UsuarioId], [ProdutoId], [Quantidade]) VALUES (N'ec58346f-7adc-4da5-9e54-91845f212b74', N'4cc6dd6f-78e6-45e0-89ae-c500918e3651', N'f402927d-2444-4c31-8584-280fd33d3841', 1)
INSERT [dbo].[ItemCarrinho] ([ItemCarrinhoId], [UsuarioId], [ProdutoId], [Quantidade]) VALUES (N'd0a3921d-bc0d-4024-ac2f-a0567b7124a5', N'4cc6dd6f-78e6-45e0-89ae-c500918e3651', N'd3954baf-8abc-4fc4-9107-e9efcb28ee50', 1)
GO
INSERT [dbo].[ItemFavoritados] ([ItemFavoritadoId], [ProdutoId], [ClienteId]) VALUES (N'a4578c62-dda1-457e-a336-3270fca71a62', N'6f8785a3-9d5a-425f-be18-aa8ef0399f2d', N'0243c174-80b1-445c-8ba5-de3dd06be7ea')
INSERT [dbo].[ItemFavoritados] ([ItemFavoritadoId], [ProdutoId], [ClienteId]) VALUES (N'1d85e766-1aae-4ad9-83c5-a908a377a5f5', N'6f8785a3-9d5a-425f-be18-aa8ef0399f2d', N'0243c174-80b1-445c-8ba5-de3dd06be7ea')
INSERT [dbo].[ItemFavoritados] ([ItemFavoritadoId], [ProdutoId], [ClienteId]) VALUES (N'7b0305ca-750a-4bf8-8f99-b678c23e9ba1', N'6f8785a3-9d5a-425f-be18-aa8ef0399f2d', N'0243c174-80b1-445c-8ba5-de3dd06be7ea')
GO
INSERT [dbo].[ItensFavoritos] ([ItemFavoritoId], [UsuarioId], [ProdutoId]) VALUES (N'4a0fa035-aa7a-4ac4-8ed5-120966aedb22', N'4cc6dd6f-78e6-45e0-89ae-c500918e3651', N'9aa625ec-45ba-4783-8e37-4017b536ba0e')
INSERT [dbo].[ItensFavoritos] ([ItemFavoritoId], [UsuarioId], [ProdutoId]) VALUES (N'e1d4303b-93db-4b38-b788-2b3976f19881', N'4cc6dd6f-78e6-45e0-89ae-c500918e3651', N'abdf7ba0-55f7-4e73-bcc7-c1dede95e95e')
GO
INSERT [dbo].[ItensPedidos] ([ItemPedidoId], [PedidoId], [ProdutoId], [Quantidade]) VALUES (N'33dc130b-aa53-40f0-ae68-069befdb3a48', N'979c7aee-a968-4e14-947f-e6c12f55c9e1', N'9aa625ec-45ba-4783-8e37-4017b536ba0e', 2)
INSERT [dbo].[ItensPedidos] ([ItemPedidoId], [PedidoId], [ProdutoId], [Quantidade]) VALUES (N'a090666e-e9fd-4f46-b611-076d746a9d58', N'7f6dcddf-0a57-4af4-a95c-5cbbfb60998f', N'0ecb6c80-12e8-4889-867d-28a158c3ffcc', 1)
INSERT [dbo].[ItensPedidos] ([ItemPedidoId], [PedidoId], [ProdutoId], [Quantidade]) VALUES (N'a15d49a8-5d29-4513-a20d-0f0bc00adbc7', N'fa2f4616-8391-4a94-8660-c56c13750107', N'abdf7ba0-55f7-4e73-bcc7-c1dede95e95e', 1)
GO
INSERT [dbo].[Marcas] ([MarcaId], [Nome]) VALUES (N'b722bc22-f65c-4af0-5e82-08de2bb81e52', N'Galax')
INSERT [dbo].[Marcas] ([MarcaId], [Nome]) VALUES (N'c13dc2ae-defb-475c-a279-08de2bbf5b3c', N'Intel')
INSERT [dbo].[Marcas] ([MarcaId], [Nome]) VALUES (N'5a6eaf9e-4a6e-4bc1-0424-08de2c867577', N'Amd')
GO
INSERT [dbo].[Pedidos] ([PedidoId], [Data], [UserId]) VALUES (N'1d5ee8c3-4f94-42e4-a3bf-149dca8a34c6', CAST(N'2025-12-02T01:43:48.9966232' AS DateTime2), N'4cc6dd6f-78e6-45e0-89ae-c500918e3651')
INSERT [dbo].[Pedidos] ([PedidoId], [Data], [UserId]) VALUES (N'7f6dcddf-0a57-4af4-a95c-5cbbfb60998f', CAST(N'2025-12-02T00:38:21.5293107' AS DateTime2), N'4cc6dd6f-78e6-45e0-89ae-c500918e3651')
INSERT [dbo].[Pedidos] ([PedidoId], [Data], [UserId]) VALUES (N'a5c5cd93-c641-4bdd-a944-8b1e72546182', CAST(N'2025-12-02T00:31:44.4588723' AS DateTime2), N'4cc6dd6f-78e6-45e0-89ae-c500918e3651')
GO
INSERT [dbo].[TiposMarcas] ([TipoMarcaId], [MarcaId], [Nome]) VALUES (N'fb1d0b7e-79e2-4586-b1d1-08de2bb8210a', N'b722bc22-f65c-4af0-5e82-08de2bb81e52', N'GPU (Geforce)')
INSERT [dbo].[TiposMarcas] ([TipoMarcaId], [MarcaId], [Nome]) VALUES (N'78791096-d6ab-43ec-ecd1-08de2bbf6053', N'c13dc2ae-defb-475c-a279-08de2bbf5b3c', N'GPU (Intel)')
INSERT [dbo].[TiposMarcas] ([TipoMarcaId], [MarcaId], [Nome]) VALUES (N'1a194041-d263-4116-de8d-08de2c867334', N'c13dc2ae-defb-475c-a279-08de2bbf5b3c', N'CPU (LGA1700)')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetRoleClaims_RoleId]    Script Date: 02/12/2025 15:21:24 ******/
CREATE NONCLUSTERED INDEX [IX_AspNetRoleClaims_RoleId] ON [dbo].[AspNetRoleClaims]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [RoleNameIndex]    Script Date: 02/12/2025 15:21:24 ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[NormalizedName] ASC
)
WHERE ([NormalizedName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserClaims_UserId]    Script Date: 02/12/2025 15:21:24 ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserClaims_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserLogins_UserId]    Script Date: 02/12/2025 15:21:24 ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserLogins_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserRoles_RoleId]    Script Date: 02/12/2025 15:21:24 ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserRoles_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [EmailIndex]    Script Date: 02/12/2025 15:21:24 ******/
CREATE NONCLUSTERED INDEX [EmailIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedEmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UserNameIndex]    Script Date: 02/12/2025 15:21:24 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedUserName] ASC
)
WHERE ([NormalizedUserName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Compras_PedidoId]    Script Date: 02/12/2025 15:21:24 ******/
CREATE NONCLUSTERED INDEX [IX_Compras_PedidoId] ON [dbo].[Compras]
(
	[PedidoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_EnderecosCliente_UserId]    Script Date: 02/12/2025 15:21:24 ******/
CREATE NONCLUSTERED INDEX [IX_EnderecosCliente_UserId] ON [dbo].[EnderecosCliente]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ItensPedidos_PedidoId]    Script Date: 02/12/2025 15:21:24 ******/
CREATE NONCLUSTERED INDEX [IX_ItensPedidos_PedidoId] ON [dbo].[ItensPedidos]
(
	[PedidoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ItensPedidos_ProdutoId]    Script Date: 02/12/2025 15:21:24 ******/
CREATE NONCLUSTERED INDEX [IX_ItensPedidos_ProdutoId] ON [dbo].[ItensPedidos]
(
	[ProdutoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Pedidos_UserId]    Script Date: 02/12/2025 15:21:24 ******/
CREATE NONCLUSTERED INDEX [IX_Pedidos_UserId] ON [dbo].[Pedidos]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Produtos_CategoriaId]    Script Date: 02/12/2025 15:21:24 ******/
CREATE NONCLUSTERED INDEX [IX_Produtos_CategoriaId] ON [dbo].[Produtos]
(
	[CategoriaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Categorias] ADD  DEFAULT (N'') FOR [CategoriaDescricao]
GO
ALTER TABLE [dbo].[Clientes] ADD  DEFAULT (N'') FOR [Cpf]
GO
ALTER TABLE [dbo].[Compras] ADD  DEFAULT ('00000000-0000-0000-0000-000000000000') FOR [EnderecoId]
GO
ALTER TABLE [dbo].[EnderecosCliente] ADD  DEFAULT ((0)) FOR [Cep]
GO
ALTER TABLE [dbo].[ItemFavoritados] ADD  DEFAULT ('00000000-0000-0000-0000-000000000000') FOR [ClienteId]
GO
ALTER TABLE [dbo].[Produtos] ADD  DEFAULT ('00000000-0000-0000-0000-000000000000') FOR [MarcaId]
GO
ALTER TABLE [dbo].[Produtos] ADD  DEFAULT ((0.0)) FOR [Boleto]
GO
ALTER TABLE [dbo].[Produtos] ADD  DEFAULT ((0.0)) FOR [Cartao]
GO
ALTER TABLE [dbo].[Produtos] ADD  DEFAULT ((0.0)) FOR [Promocao]
GO
ALTER TABLE [dbo].[Produtos] ADD  DEFAULT ((0.0)) FOR [Vista]
GO
ALTER TABLE [dbo].[Produtos] ADD  DEFAULT ('00000000-0000-0000-0000-000000000000') FOR [TipoMarcaId]
GO
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserTokens]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserTokens] CHECK CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Compras]  WITH CHECK ADD  CONSTRAINT [FK_Compras_Pedidos_PedidoId] FOREIGN KEY([PedidoId])
REFERENCES [dbo].[Pedidos] ([PedidoId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Compras] CHECK CONSTRAINT [FK_Compras_Pedidos_PedidoId]
GO
ALTER TABLE [dbo].[EnderecosCliente]  WITH CHECK ADD  CONSTRAINT [FK_EnderecosCliente_Clientes_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Clientes] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EnderecosCliente] CHECK CONSTRAINT [FK_EnderecosCliente_Clientes_UserId]
GO
ALTER TABLE [dbo].[ItensPedidos]  WITH CHECK ADD  CONSTRAINT [FK_ItensPedidos_Pedidos_PedidoId] FOREIGN KEY([PedidoId])
REFERENCES [dbo].[Pedidos] ([PedidoId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ItensPedidos] CHECK CONSTRAINT [FK_ItensPedidos_Pedidos_PedidoId]
GO
ALTER TABLE [dbo].[ItensPedidos]  WITH CHECK ADD  CONSTRAINT [FK_ItensPedidos_Produtos_ProdutoId] FOREIGN KEY([ProdutoId])
REFERENCES [dbo].[Produtos] ([ProdutoId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ItensPedidos] CHECK CONSTRAINT [FK_ItensPedidos_Produtos_ProdutoId]
GO
ALTER TABLE [dbo].[Pedidos]  WITH CHECK ADD  CONSTRAINT [FK_Pedidos_Clientes_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Clientes] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Pedidos] CHECK CONSTRAINT [FK_Pedidos_Clientes_UserId]
GO
ALTER TABLE [dbo].[Produtos]  WITH CHECK ADD  CONSTRAINT [FK_Produtos_Categorias_CategoriaId] FOREIGN KEY([CategoriaId])
REFERENCES [dbo].[Categorias] ([CategoriaId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Produtos] CHECK CONSTRAINT [FK_Produtos_Categorias_CategoriaId]
GO
USE [master]
GO
